:root {
    --white: #ffffff;
    --light: whitesmoke;
    --light-grey: #e8e8e8;
    --pink: #ff176b;
    --medium-dark: #777;
    --dark: #242526;
    --border-rad-lg: 15px;
}


textarea::placeholder {
    color: var(--medium-dark);
    font-size: 100%;
    opacity: 0.8;
}


/* The output */

#output-container {
    display: none;
    flex-direction: column;
    margin: 1em auto;
    color: var(--dark);
    padding: 1em;
}

.output-img-container>img {
    max-width: 100%;
    border-radius: var(--border-rad-lg);
    box-shadow: 1px 1px 5px 1px var(--dark);

}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}